<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>723766860228-7o0u3av7dbij9tqg1cg1l37c4tpn1f0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723766860228-7o0u3av7dbij9tqg1cg1l37c4tpn1f0r</string>
	<key>API_KEY</key>
	<string>AIzaSyCWYcCa8H-tcZBzQHVzhQZxncmADux5fNw</string>
	<key>GCM_SENDER_ID</key>
	<string>723766860228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barcenas.Recetario</string>
	<key>PROJECT_ID</key>
	<string>mi-recetario</string>
	<key>STORAGE_BUCKET</key>
	<string>mi-recetario.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:723766860228:ios:d11b656bc2fabfcf</string>
	<key>DATABASE_URL</key>
	<string>https://mi-recetario.firebaseio.com</string>
</dict>
</plist>